
.topNavigation{
    width: 487px;
}
@media (max-width: 767px) {
    .topNavigation{
        width: 100%;
    }
}

.NewHeaderSticky {
    position: sticky;
    top: 61px;
    background-color: White;
}


